.o-customDate {
    $root: &;
    @include adjust-flex(flex-start);

    &_input {
        position: relative;

        input {
            width: rem(100);
            height: rem(40);
            border-radius: rem(8);
            border: rem(1) solid $dim-gray;
            padding-left: rem(15);
            margin: 0 rem(15) 0 rem(10);
            z-index: 10;
    
            &:focus {
                outline: none;
                border: rem(1) solid $bright-Navy-blue !important;
            }

        }

        .a-icon {
            position: absolute;
            top: 23%;
            left: 63%;
        }
    }

}

.react-datepicker__tab-loop {
    .react-datepicker-popper {
        display: none !important;
        opacity: 0;
    }
}

.react-datepicker__input-container {
    input {
        font-size: rem(14);
        font-weight: 600;
    }
}

