.p-confirm_reset {
    .o-container-form {
        width: 400px !important;
        height: 400px !important;
    }

    .p-confirm_reset_wrappe {
        width: 100%;
        height: 100%;

        &_animate {
            position: relative;
            @include adjust-flex(center, center);
        }
    }
}
